In [12]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm  # 进度条工具（可选）
from pathlib import Path
from datetime import datetime, timedelta
import re
import glob

In [13]:
# 数据加载与预处理
def load_and_preprocess_data(data_path):
    """
    加载所有CSV 通过文件名构建交易日历，创建正确的时间戳，并合并。
    """
    print("Scanning filenames to build trading calendar...")
    all_files = sorted(glob.glob(os.path.join(data_path, "*.csv")))
    
    # 从文件名中提取所有交易日，并去重排序
    trading_dates_str = sorted(list(set([os.path.basename(f).split('_')[1].split('.')[0] for f in all_files])))
    
    # 创建从一个交易日到其前一个交易日的映射字典
    prev_trading_date_map = {trading_dates_str[i]: trading_dates_str[i-1] for i in range(1, len(trading_dates_str))}
    
    df_list = []
    
    print("Processing each file with the new calendar logic...")
    for file_path in all_files:
        try:
            # 从文件名提取当前文件的交易日
            current_trading_date_str = os.path.basename(file_path).split('_')[1].split('.')[0]
            current_trading_date = pd.to_datetime(current_trading_date_str, format='%Y%m%d')
            
            # 查找前一个交易日
            prev_date_str = prev_trading_date_map.get(current_trading_date_str)
            if not prev_date_str:
                # 对于的第一个文件，假设其夜盘是前一个日历日 这种情况仅对数据集最开始的那个夜盘有影响。
                prev_calendar_date = current_trading_date - timedelta(days=1)
            else:
                prev_calendar_date = pd.to_datetime(prev_date_str, format='%Y%m%d')

            required_cols = ['InstrumentID', 'UpdateTime', 'UpdateMillisec', 'LastPrice'] 
            df = pd.read_csv(file_path, usecols = required_cols)
            df['date'] = current_trading_date_str
            print(f'{file_path} loaded...')

            # 创建真实时间戳
            def get_true_timestamp(row):
                time_part = pd.to_datetime(row['UpdateTime'], format='%H:%M:%S').time()
                
                # 夜盘的日历日期
                if time_part.hour >= 21:
                    calendar_date = prev_calendar_date
                # 日盘的日历日期
                else:
                    calendar_date = current_trading_date
                
                # 合并日期、时间和毫秒
                return pd.Timestamp(calendar_date.year, calendar_date.month, calendar_date.day,
                                    time_part.hour, time_part.minute, time_part.second) + \
                       pd.to_timedelta(row['UpdateMillisec'], unit='ms')

            df['Timestamp'] = df.apply(get_true_timestamp, axis=1)
            df_list.append(df)
            
        except Exception as e:
            print(f"Error processing file {file_path}: {e}")
            
    # 合并所有数据并按时间戳排序
    full_df = pd.concat(df_list, ignore_index=True)
    full_df = full_df.sort_values('Timestamp').reset_index(drop=True)
    
    return full_df


# --- 其他函数保持不变 ---

def filter_by_trading_hours(df):
    """
    只考虑连续竞价
    """
    df['Time'] = df['Timestamp'].dt.time
    
    # 定义交易时间段
    night_session = (df['Time'] >= pd.to_datetime('21:00:00').time()) & \
                    (df['Time'] <= pd.to_datetime('23:00:00').time())
    
    morning_session_1 = (df['Time'] >= pd.to_datetime('09:00:00').time()) & \
                        (df['Time'] <= pd.to_datetime('10:15:00').time())
    
    morning_session_2 = (df['Time'] >= pd.to_datetime('10:30:00').time()) & \
                        (df['Time'] <= pd.to_datetime('11:30:00').time())
                        
    afternoon_session = (df['Time'] >= pd.to_datetime('13:30:00').time()) & \
                        (df['Time'] <= pd.to_datetime('15:00:00').time())
                        
    # 过滤
    valid_time_mask =  morning_session_1 | morning_session_2 | afternoon_session
    
    return df[valid_time_mask].drop(columns=['Time']).copy()

def generate_5min_klines(df):
    """
    从tick数据生成固定切割的5分钟OHLC K线。如 09:00~09:05, 09:05~09:10等
    """
    klines_5min = df.set_index('Timestamp')['LastPrice'].resample('5min').agg(
        Open='first',
        High='max',
        Low='min',
        Close='last'
    ).dropna() # 出现缺失值意味着非交易时间的K线 直接删除
    
    return klines_5min

def calculate_tick_atr(df, klines_5min):
    """
    计算每条tick对应的ATR。
    """
    print("Preparing historical K-line data for ATR calculation...")
    klines_5min_shifted = klines_5min.copy()
    for i in range(1, 13):
        klines_5min_shifted[f'High_p{i}'] = klines_5min['High'].shift(i)
        klines_5min_shifted[f'Low_p{i}'] = klines_5min['Low'].shift(i)
        klines_5min_shifted[f'Close_p{i}'] = klines_5min['Close'].shift(i)
        
    df['kline_timestamp'] = df['Timestamp'].dt.floor('5T')
    df = pd.merge(df, klines_5min_shifted, left_on='kline_timestamp', right_index=True, ) # how='left'

    print("Calculating values for the current K-line...")
    df['Current_K_High'] = df.groupby('kline_timestamp')['LastPrice'].cummax()
    df['Current_K_Low'] = df.groupby('kline_timestamp')['LastPrice'].cummin()
    
    print("Calculating 12 True Ranges (TR)...")
    tr_cols = []
    
    # TR_1
    true_range_1_h_l = df['Current_K_High'] - df['Current_K_Low']
    true_range_1_h_pc = (df['Current_K_High'] - df['Close_p1']).abs()
    true_range_1_l_pc = (df['Current_K_Low'] - df['Close_p1']).abs()
    df['TR_1'] = np.maximum.reduce([true_range_1_h_l, true_range_1_h_pc, true_range_1_l_pc])
    tr_cols.append('TR_1')

    # TR_2 to TR_12
    for i in range(2, 13):
        prev_k_high = df[f'High_p{i-1}']
        prev_k_low = df[f'Low_p{i-1}']
        prev_k_close = df[f'Close_p{i}']
        tr_h_l = prev_k_high - prev_k_low
        tr_h_pc = (prev_k_high - prev_k_close).abs()
        tr_l_pc = (prev_k_low - prev_k_close).abs()
        df[f'TR_{i}'] = np.maximum.reduce([tr_h_l, tr_h_pc, tr_l_pc])
        tr_cols.append(f'TR_{i}')

    print("Calculating final ATR...")
    df['ATR'] = df[tr_cols].mean(axis=1,skipna=False)

    final_cols = ['date', 'UpdateTime', 'UpdateMillisec','Timestamp', 'kline_timestamp', 'InstrumentID','LastPrice', 'ATR']
    final_df = df[final_cols].dropna(subset=['ATR'])
    
    return final_df

# 生成交易时间列表（间隔1秒）
def generate_trading_hours():
    morning_start = datetime.strptime("09:00:00", "%H:%M:%S").time()
    morning_end = datetime.strptime("11:30:00", "%H:%M:%S").time()
    afternoon_start = datetime.strptime("13:30:00", "%H:%M:%S").time()
    afternoon_end = datetime.strptime("14:59:59", "%H:%M:%S").time()
    
    time_list = []
    current_time = morning_start
    while current_time <= morning_end:
        time_list.append(current_time.strftime("%H:%M:%S"))
        current_time = (datetime.combine(datetime.min, current_time) + 
                       timedelta(seconds=1)).time()
    
    current_time = afternoon_start
    while current_time <= afternoon_end:
        time_list.append(current_time.strftime("%H:%M:%S"))
        current_time = (datetime.combine(datetime.min, current_time) + 
                       timedelta(seconds=1)).time()
    
    return time_list

def process_trading_day_ticks(df, time_univ, session_mark):
    
    # 提取交易日
    market_df = df.copy()

    market_df['UpdateMillisec'] = market_df['UpdateMillisec'].astype(int)

    template_df = pd.DataFrame({
        'UpdateTime': time_univ,
        'UpdateMillisec': 0  # 为我们的切片时间戳设置毫秒为0
    })

    combined_df = pd.concat([market_df, template_df], ignore_index=True)

    combined_df['session_part'] = (combined_df['UpdateTime'].str[:2].astype(int) < session_mark).astype(int)

    combined_df.sort_values(
        by=['session_part', 'UpdateTime', 'UpdateMillisec'], 
        inplace=True,
        kind='mergesort'
    )
    combined_df = combined_df.ffill()

    result_df = combined_df[combined_df['UpdateTime'].isin(time_univ) & (combined_df['UpdateMillisec'] == 0)]
    
    # 删除可能的重复项（如果一个秒正好有0毫秒的tick，排序之后切片行会出现在原始数据行之后, 此时保留最后一条是合理的）
    result_df.drop_duplicates(subset=['UpdateTime'], keep='last', inplace=True)
    
    new_order = [
       'date', 'InstrumentID', 'UpdateTime', 'session_part', 'LastPrice', 'ATR'
    ]
    result_df = result_df[new_order].dropna(subset=['InstrumentID']).reset_index(drop=True) # dropna是为了处理那些没有夜盘的交易日或者没有夜盘的品种

    return result_df.rename(columns={"date": "trading_date","UpdateTime": "ts"})

In [18]:
if __name__ == '__main__':
    comd_list = ['lc']
    for comd in comd_list:
        DATA_DIRECTORY = f"C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/{comd}"
        
        # 1. 加载和预处理
        tick_df = load_and_preprocess_data(DATA_DIRECTORY)
        print(f"Loaded {len(tick_df)} total ticks.")
        #tick_df.to_parquet('/data/datas/zhangyy/6100T/tick_2025_p.parquet')
        
        # 2. 过滤交易时间
        tick_df_filtered = filter_by_trading_hours(tick_df)
        print(f"Found {len(tick_df_filtered)} ticks within trading hours.")
        final_atr_df = []
        for _, df in tick_df_filtered.groupby('InstrumentID'): # 主力换月时分开计算
            final_atr_temp = calculate_tick_atr(df, generate_5min_klines(df))
            final_atr_df.append(final_atr_temp)
        df_atr = pd.concat(final_atr_df, axis=0)
        #print(df_atr)#.to_parquet('/data/datas/zhangyy/6100T/p.atr.parquet')

        # 3. 转化成秒级数据
        '''
        df_atr = df_atr.loc[df_atr.groupby(['UpdateTime', 'date'])['UpdateMillisec'].idxmin()]
        df_atr.sort_values(by=['Timestamp'], inplace=True)
        df_atr.reset_index(drop=True, inplace=True)
        print(df_atr)
        '''
        pd.options.mode.copy_on_write = True 
        DCE_TIME_UNIV = generate_trading_hours()
        final_atr_df = df_atr

        result = []
        for _, df in final_atr_df.groupby('date'):
            single_date = process_trading_day_ticks(df, DCE_TIME_UNIV, 20)
            print(single_date)
            result.append(single_date)
        result = pd.concat(result, axis=0)
        result.reset_index(inplace=True,drop=True)
        print(result)
        #result.to_parquet('C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/processed/{comd}_atr_1s_.parquet')

Scanning filenames to build trading calendar...
Processing each file with the new calendar logic...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230721.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230724.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230725.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230726.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230727.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230728.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230731.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230801.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230802.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230803.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230804.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230807.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230808.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230809.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230810.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230811.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230814.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230815.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230816.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230817.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230818.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230821.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230822.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230823.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230824.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230825.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230828.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230829.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230830.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230831.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230901.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230904.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230905.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230906.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230907.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230908.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230911.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230912.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230913.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230914.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230915.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230918.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230919.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230920.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230921.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230922.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230925.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230926.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230927.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20230928.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231009.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231010.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231011.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231012.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231013.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231016.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231017.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231018.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231019.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231020.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231023.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231024.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231025.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231026.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231027.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231030.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231031.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231101.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231102.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231103.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231106.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231107.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231108.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231109.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231110.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231113.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231114.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231115.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231116.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231117.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231120.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231121.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231122.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231123.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231124.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231127.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231128.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231129.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231130.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231201.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231204.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231205.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231206.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231207.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231208.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231211.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231212.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231213.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231214.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231215.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231218.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231219.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231220.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231221.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231222.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231225.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231226.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231227.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231228.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20231229.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240102.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240103.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240104.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240105.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240108.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240109.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240110.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240111.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240112.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240115.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240116.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240117.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240118.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240119.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240122.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240123.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240124.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240125.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240126.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240129.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240130.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240131.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240201.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240202.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240205.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240206.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240207.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240208.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240219.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240220.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240221.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240222.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240223.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240226.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240227.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240228.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240229.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240301.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240304.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240305.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240306.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240307.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240308.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240311.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240312.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240313.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240314.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240315.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240318.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240319.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240320.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240321.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240322.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240325.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240326.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240327.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240328.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240329.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240401.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240402.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240403.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240408.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240409.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240410.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240411.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240412.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240415.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240416.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240417.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240418.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240419.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240422.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240423.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240424.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240425.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240426.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240429.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240430.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240506.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240507.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240508.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240509.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240510.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240513.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240514.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240515.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240516.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240517.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240520.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240521.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240522.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240523.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240524.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240527.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240528.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240529.csv loaded...
C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/data/2023-2025/lc\sel_20240530.csv loaded...

C:\Users\cyw\AppData\Local\Temp\ipykernel_4524\957766661.py:116: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df['kline_timestamp'] = df['Timestamp'].dt.floor('5T')

Calculating values for the current K-line...
Calculating 12 True Ranges (TR)...
Calculating final ATR...
Preparing historical K-line data for ATR calculation...

C:\Users\cyw\AppData\Local\Temp\ipykernel_4524\957766661.py:116: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df['kline_timestamp'] = df['Timestamp'].dt.floor('5T')

Calculating values for the current K-line...
Calculating 12 True Ranges (TR)...
Calculating final ATR...
Preparing historical K-line data for ATR calculation...

C:\Users\cyw\AppData\Local\Temp\ipykernel_4524\957766661.py:116: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df['kline_timestamp'] = df['Timestamp'].dt.floor('5T')

Calculating values for the current K-line...
Calculating 12 True Ranges (TR)...
Calculating final ATR...
Preparing historical K-line data for ATR calculation...

C:\Users\cyw\AppData\Local\Temp\ipykernel_4524\957766661.py:116: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df['kline_timestamp'] = df['Timestamp'].dt.floor('5T')

Calculating values for the current K-line...
Calculating 12 True Ranges (TR)...
Calculating final ATR...
Preparing historical K-line data for ATR calculation...

C:\Users\cyw\AppData\Local\Temp\ipykernel_4524\957766661.py:116: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df['kline_timestamp'] = df['Timestamp'].dt.floor('5T')

Calculating values for the current K-line...
Calculating 12 True Ranges (TR)...
Calculating final ATR...
Preparing historical K-line data for ATR calculation...

C:\Users\cyw\AppData\Local\Temp\ipykernel_4524\957766661.py:116: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df['kline_timestamp'] = df['Timestamp'].dt.floor('5T')

Calculating values for the current K-line...
Calculating 12 True Ranges (TR)...
Calculating final ATR...
Preparing historical K-line data for ATR calculation...

C:\Users\cyw\AppData\Local\Temp\ipykernel_4524\957766661.py:116: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df['kline_timestamp'] = df['Timestamp'].dt.floor('5T')

Calculating values for the current K-line...
Calculating 12 True Ranges (TR)...
Calculating final ATR...
Preparing historical K-line data for ATR calculation...
Calculating values for the current K-line...
Calculating 12 True Ranges (TR)...
Calculating final ATR...

C:\Users\cyw\AppData\Local\Temp\ipykernel_4524\957766661.py:116: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df['kline_timestamp'] = df['Timestamp'].dt.floor('5T')

      trading_date InstrumentID        ts  session_part  LastPrice  \
0         20230721       lc2401  10:00:01             1   220550.0
1         20230721       lc2401  10:00:02             1   220550.0
2         20230721       lc2401  10:00:03             1   220450.0
3         20230721       lc2401  10:00:04             1   220650.0
4         20230721       lc2401  10:00:05             1   220650.0
...            ...          ...       ...           ...        ...
10795     20230721       lc2401  14:59:55             1   215100.0
10796     20230721       lc2401  14:59:56             1   215100.0
10797     20230721       lc2401  14:59:57             1   215150.0
10798     20230721       lc2401  14:59:58             1   215100.0
10799     20230721       lc2401  14:59:59             1   215000.0

               ATR
0      3116.666667
1      3116.666667
2      3116.666667
3      3125.000000
4      3125.000000
...            ...
10795  1258.333333
10796  1258.333333
10797  1258.333333
10798  1258.333333
10799  1258.333333

[10800 rows x 6 columns]
      trading_date InstrumentID        ts  session_part  LastPrice  \
0         20230724       lc2401  09:00:01             1   213000.0
1         20230724       lc2401  09:00:02             1   211050.0
2         20230724       lc2401  09:00:03             1   212000.0
3         20230724       lc2401  09:00:04             1   212850.0
4         20230724       lc2401  09:00:05             1   212850.0
...            ...          ...       ...           ...        ...
14395     20230724       lc2401  14:59:55             1   211350.0
14396     20230724       lc2401  14:59:56             1   211400.0
14397     20230724       lc2401  14:59:57             1   211450.0
14398     20230724       lc2401  14:59:58             1   211400.0
14399     20230724       lc2401  14:59:59             1   211500.0

               ATR
0      1358.333333
1      1520.833333
2      1520.833333
3      1520.833333
4      1520.833333
...            ...
14395   770.833333
14396   770.833333
14397   770.833333
14398   770.833333
14399   770.833333

[14400 rows x 6 columns]
      trading_date InstrumentID        ts  session_part  LastPrice  \
0         20230725       lc2401  09:00:01             1   212900.0
1         20230725       lc2401  09:00:02             1   216500.0
2         20230725       lc2401  09:00:03             1   218000.0
3         20230725       lc2401  09:00:04             1   218100.0
4         20230725       lc2401  09:00:05             1   217650.0
...            ...          ...       ...           ...        ...
14395     20230725       lc2401  14:59:55             1   225900.0
14396     20230725       lc2401  14:59:56             1   225900.0
14397     20230725       lc2401  14:59:57             1   225900.0
14398     20230725       lc2401  14:59:58             1   225900.0
14399     20230725       lc2401  14:59:59             1   225900.0

               ATR
0       854.166667
1      1154.166667
2      1279.166667
3      1287.500000
4      1287.500000
...            ...
14395   441.666667
14396   441.666667
14397   441.666667
14398   441.666667
14399   441.666667

[14400 rows x 6 columns]
      trading_date InstrumentID        ts  session_part  LastPrice  \
0         20230726       lc2401  09:00:01             1   227250.0
1         20230726       lc2401  09:00:02             1   227800.0
2         20230726       lc2401  09:00:03             1   227500.0
3         20230726       lc2401  09:00:04             1   228150.0
4         20230726       lc2401  09:00:05             1   228850.0
...            ...          ...       ...           ...        ...
14395     20230726       lc2401  14:59:55             1   227950.0
14396     20230726       lc2401  14:59:56             1   227900.0
14397     20230726       lc2401  14:59:57             1   227850.0
14398     20230726       lc2401  14:59:58             1   228100.0
14399     20230726       lc2401  14:59:59             1   227800.0

               ATR
0       495.833333
1       541.666667
2       541.666667
3       570.833333
4       629.166667
...            ...
14395  1054.166667
14396  1054.166667
14397  1054.166667
14398  1054.166667
14399  1054.166667

[14400 rows x 6 columns]
      trading_date InstrumentID        ts  session_part  LastPrice  \
0         20230727       lc2401  09:00:01             1   231450.0
1         20230727       lc2401  09:00:02             1   231300.0
2         20230727       lc2401  09:00:03             1   231050.0
3         20230727       lc2401  09:00:04             1   230450.0
4         20230727       lc2401  09:00:05             1   230000.0
...            ...          ...       ...           ...        ...
14395     20230727       lc2401  14:59:55             1   224700.0
14396     20230727       lc2401  14:59:56             1   224800.0
14397     20230727       lc2401  14:59:57             1   224850.0
14398     20230727       lc2401  14:59:58             1   224950.0
14399     20230727       lc2401  14:59:59             1   224900.0

               ATR
0      1295.833333
1      1295.833333
2      1295.833333
3      1295.833333
4      1295.833333
...            ...
14395  1170.833333
14396  1170.833333
14397  1170.833333
14398  1170.833333
14399  1170.833333

[14400 rows x 6 columns]
      trading_date InstrumentID        ts  session_part  LastPrice  \
0         20230728       lc2401  09:00:01             1   223400.0
1         20230728       lc2401  09:00:02             1   223050.0
2         20230728       lc2401  09:00:03             1   223000.0
3         20230728       lc2401  09:00:04             1   222950.0
4         20230728       lc2401  09:00:05             1   222700.0
...            ...          ...       ...           ...        ...
14395     20230728       lc2401  14:59:55             1   227950.0
14396     20230728       lc2401  14:59:56             1   227900.0
14397     20230728       lc2401  14:59:57             1   227900.0
14398     20230728       lc2401  14:59:58             1   227900.0
14399     20230728       lc2401  14:59:59             1   227900.0

               ATR
0      1225.000000
1      1254.166667
2      1258.333333
3      1262.500000
4      1283.333333
...            ...
14395   920.833333
14396   920.833333
14397   920.833333
14398   920.833333
14399   920.833333

[14400 rows x 6 columns]
      trading_date InstrumentID        ts  session_part  LastPrice  \
0         20230731       lc2401  09:00:01             1   229300.0
1         20230731       lc2401  09:00:02             1   229650.0
2         20230731       lc2401  09:00:03             1   229900.0
3         20230731       lc2401  09:00:04             1   230800.0
4         20230731       lc2401  09:00:05             1   231300.0
...            ...          ...       ...           ...        ...
14395     20230731       lc2401  14:59:55             1   228100.0
14396     20230731       lc2401  14:59:56             1   228100.0
14397     20230731       lc2401  14:59:57             1   228000.0
14398     20230731       lc2401  14:59:58             1   228150.0
14399     20230731       lc2401  14:59:59             1   228100.0

               ATR
0       858.333333
1       887.500000
2       908.333333
3       983.333333
4      1066.666667
...            ...
14395   741.666667
14396   741.666667
14397   741.666667
14398   741.666667
14399   741.666667

[14400 rows x 6 columns]
      trading_date InstrumentID        ts  session_part  LastPrice         ATR
0         20230801       lc2401  09:00:01             1   229300.0  825.000000
1         20230801       lc2401  09:00:02             1   228700.0  825.000000
2         20230801       lc2401  09:00:03             1   228700.0  825.000000
3         20230801       lc2401  09:00:04             1   228500.0  825.000000
4         20230801       lc2401  09:00:05             1   228450.0  825.000000
...            ...          ...       ...           ...        ...         ...
14395     20230801       lc2401  14:59:55             1   228600.0  454.166667
14396     20230801       lc2401  14:59:56             1   228500.0  454.166667
14397     20230801       lc2401  14:59:57             1   228500.0  454.166667
14398     20230801       lc2401  14:59:58             1   228600.0  454.166667
14399     20230801       lc2401  14:59:59             1   228450.0  454.166667

[14400 rows x 6 columns]
      trading_date InstrumentID        ts  session_part  LastPrice         ATR
0         20230802       lc2401  09:00:01             1   229250.0  470.833333
1         20230802       lc2401  09:00:02             1   229550.0  495.833333
2         20230802       lc2401  09:00:03             1   229100.0  495.833333
3         20230802       lc2401  09:00:04             1   228800.0  495.833333
4         20230802       lc2401  09:00:05             1   228950.0  495.833333
...            ...          ...       ...           ...        ...         ...
14395     20230802       lc2401  14:59:55             1   228450.0  329.166667
14396     20230802       lc2401  14:59:56             1   228500.0  329.166667
14397     20230802       lc2401  14:59:57             1   228550.0  329.166667
14398     20230802       lc2401  14:59:58             1   228550.0  329.166667
14399     20230802       lc2401  14:59:59             1   228550.0  329.166667

[14400 rows x 6 columns]
      trading_date InstrumentID        ts  session_part  LastPrice         ATR
0         20230803       lc2401  09:00:01             1   225900.0  529.166667
1         20230803       lc2401  09:00:02             1   225400.0  591.666667
2         20230803       lc2401  09:00:03             1   225450.0  591.666667
3         20230803       lc2401  09:00:04             1   226000.0  591.666667
4         20230803       lc2401  09:00:05             1   225850.0  591.666667
...            ...          ...       ...           ...        ...         ...
14395     20230803       lc2401  14:59:55             1   229400.0  525.000000
14396     20230803       lc2401  14:59:56             1   229350.0  525.000000
14397     20230803       lc2401  14:59:57             1   229350.0  525.000000
14398     20230803       lc2401  14:59:58             1   229550.0  529.166667
14399     20230803       lc2401  14:59:59             1   229600.0  533.333333

[14400 rows x 6 columns]
      trading_date InstrumentID        ts  session_part  LastPrice         ATR
0         20230804       lc2401  09:00:01             1   232000.0  704.166667
1         20230804       lc2401  09:00:02             1   232300.0  729.166667
2         20230804       lc2401  09:00:03             1   232400.0  737.500000
3         20230804       lc2401  09:00:04             1   232300.0  741.666667
4         20230804       lc2401  09:00:05             1   231950.0  741.666667
...            ...          ...       ...           ...        ...         ...
14395     20230804       lc2401  14:59:55             1   228900.0  300.000000
14396     20230804       lc2401  14:59:56             1   228950.0  300.000000
14397     20230804       lc2401  14:59:57             1   228950.0  300.000000
14398     20230804       lc2401  14:59:58             1   228950.0  300.000000
14399     20230804       lc2401  14:59:59             1   228850.0  300.000000

[14400 rows x 6 columns]
      trading_date InstrumentID        ts  session_part  LastPrice         ATR
0         20230807       lc2401  09:00:01             1   227150.0  412.500000
1         20230807       lc2401  09:00:02             1   226900.0  441.666667
2         20230807       lc2401  09:00:03             1   227250.0  441.666667
3         20230807       lc2401  09:00:04             1   227550.0  441.666667
4         20230807       lc2401  09:00:05             1   227800.0  441.666667
...            ...          ...       ...           ...        ...         ...
14395     20230807       lc2401  14:59:55             1   219850.0  600.000000
14396     20230807       lc2401  14:59:56             1   219850.0  600.000000
14397     20230807       lc2401  14:59:57             1   219850.0  600.000000
14398     20230807       lc2401  14:59:58             1   219850.0  600.000000
14399     20230807       lc2401  14:59:59             1   219850.0  600.000000

[14400 rows x 6 columns]
      trading_date InstrumentID        ts  session_part  LastPrice         ATR
0         20230808       lc2401  09:00:01             1   219050.0  637.500000
1         20230808       lc2401  09:00:02             1   219200.0  645.833333
2         20230808       lc2401  09:00:03             1   219900.0  654.166667
3         20230808       lc2401  09:00:04             1   220500.0  704.166667
4         20230808       lc2401  09:00:05             1   220200.0  704.166667
...            ...          ...       ...           ...        ...         ...
14395     20230808       lc2401  14:59:55             1   217000.0  437.500000
14396     20230808       lc2401  14:59:56             1   217200.0  437.500000
14397     20230808       lc2401  14:59:57             1   217150.0  437.500000
14398     20230808       lc2401  14:59:58             1   217050.0  437.500000
14399     20230808       lc2401  14:59:59             1   217050.0  437.500000

[14400 rows x 6 columns]
      trading_date InstrumentID        ts  session_part  LastPrice         ATR
0         20230809       lc2401  09:00:01             1   217150.0  366.666667
1         20230809       lc2401  09:00:02             1   217350.0  383.333333
2         20230809       lc2401  09:00:03             1   217600.0  404.166667
3         20230809       lc2401  09:00:04             1   217450.0  404.166667
4         20230809       lc2401  09:00:05             1   217550.0  404.166667
...            ...          ...       ...           ...        ...         ...
14395     20230809       lc2401  14:59:55             1   217800.0  341.666667
14396     20230809       lc2401  14:59:56             1   217800.0  341.666667
14397     20230809       lc2401  14:59:57             1   217800.0  341.666667
14398     20230809       lc2401  14:59:58             1   217700.0  341.666667
14399     20230809       lc2401  14:59:59             1   217800.0  341.666667

[14400 rows x 6 columns]
      trading_date InstrumentID        ts  session_part  LastPrice         ATR
0         20230810       lc2401  09:00:01             1   217600.0  350.000000
1         20230810       lc2401  09:00:02             1   217200.0  383.333333
2         20230810       lc2401  09:00:03             1   217150.0  395.833333
3         20230810       lc2401  09:00:04             1   217400.0  395.833333
4         20230810       lc2401  09:00:05             1   217400.0  395.833333
...            ...          ...       ...           ...        ...         ...
14395     20230810       lc2401  14:59:55             1   210550.0  783.333333
14396     20230810       lc2401  14:59:56             1   210450.0  783.333333
14397     20230810       lc2401  14:59:57             1   210550.0  783.333333
14398     20230810       lc2401  14:59:58             1   210500.0  783.333333
14399     20230810       lc2401  14:59:59             1   210500.0  783.333333

[14400 rows x 6 columns]
      trading_date InstrumentID        ts  session_part  LastPrice         ATR
0         20230811       lc2401  09:00:01             1   209850.0  762.500000
1         20230811       lc2401  09:00:02             1   209800.0  766.666667
2         20230811       lc2401  09:00:03             1   209750.0  770.833333
3         20230811       lc2401  09:00:04             1   209600.0  783.333333
4         20230811       lc2401  09:00:05             1   209750.0  783.333333
...            ...          ...       ...           ...        ...         ...
14395     20230811       lc2401  14:59:55             1   208800.0  804.166667
14396     20230811       lc2401  14:59:56             1   208800.0  804.166667
14397     20230811       lc2401  14:59:57             1   208750.0  804.166667
14398     20230811       lc2401  14:59:58             1   208700.0  804.166667
14399     20230811       lc2401  14:59:59             1   208750.0  804.166667

[14400 rows x 6 columns]
      trading_date InstrumentID        ts  session_part  LastPrice  \
0         20230814       lc2401  09:00:01             1   207200.0
1         20230814       lc2401  09:00:02             1   206950.0
2         20230814       lc2401  09:00:03             1   206800.0
3         20230814       lc2401  09:00:04             1   206300.0
4         20230814       lc2401  09:00:05             1   205700.0
...            ...          ...       ...           ...        ...
14395     20230814       lc2401  14:59:55             1   197050.0
14396     20230814       lc2401  14:59:56             1   197000.0
14397     20230814       lc2401  14:59:57             1   197000.0
14398     20230814       lc2401  14:59:58             1   197050.0
14399     20230814       lc2401  14:59:59             1   197000.0

               ATR
0       908.333333
1       929.166667
2       941.666667
3       983.333333
4      1033.333333
...            ...
14395   816.666667
14396   820.833333
14397   820.833333
14398   820.833333
14399   829.166667

[14400 rows x 6 columns]
      trading_date InstrumentID        ts  session_part  LastPrice         ATR
0         20230815       lc2401  09:00:01             1   196200.0  879.166667
1         20230815       lc2401  09:00:02             1   196500.0  879.166667
2         20230815       lc2401  09:00:03             1   196650.0  879.166667
3         20230815       lc2401  09:00:04             1   197000.0  879.166667
4         20230815       lc2401  09:00:05             1   196850.0  879.166667
...            ...          ...       ...           ...        ...         ...
14395     20230815       lc2401  14:59:55             1   194500.0  700.000000
14396     20230815       lc2401  14:59:56             1   194650.0  700.000000
14397     20230815       lc2401  14:59:57             1   194600.0  700.000000
14398     20230815       lc2401  14:59:58             1   194500.0  700.000000
14399     20230815       lc2401  14:59:59             1   194500.0  700.000000

[14400 rows x 6 columns]
      trading_date InstrumentID        ts  session_part  LastPrice         ATR
0         20230816       lc2401  09:00:01             1   193850.0  708.333333
1         20230816       lc2401  09:00:02             1   193650.0  725.000000
2         20230816       lc2401  09:00:03             1   193500.0  737.500000
3         20230816       lc2401  09:00:04             1   192900.0  787.500000
4         20230816       lc2401  09:00:05             1   192750.0  800.000000
...            ...          ...       ...           ...        ...         ...
14395     20230816       lc2401  14:59:55             1   196300.0  558.333333
14396     20230816       lc2401  14:59:56             1   196300.0  558.333333
14397     20230816       lc2401  14:59:57             1   196300.0  558.333333
14398     20230816       lc2401  14:59:58             1   196300.0  558.333333
14399     20230816       lc2401  14:59:59             1   196250.0  558.333333

[14400 rows x 6 columns]
      trading_date InstrumentID        ts  session_part  LastPrice         ATR
0         20230817       lc2401  09:00:01             1   195750.0  558.333333
1         20230817       lc2401  09:00:02             1   195550.0  575.000000
2         20230817       lc2401  09:00:03             1   195450.0  583.333333
3         20230817       lc2401  09:00:04             1   195600.0  583.333333
4         20230817       lc2401  09:00:05             1   195900.0  583.333333
...            ...          ...       ...           ...        ...         ...
14395     20230817       lc2401  14:59:55             1   193850.0  783.333333
14396     20230817       lc2401  14:59:56             1   193850.0  783.333333
14397     20230817       lc2401  14:59:57             1   193950.0  783.333333

In [19]:
result.to_parquet(f'C:/Users/CYWY2K/HKUST/STUDY/summer/MAFS6100T/week5/processed_data/2023-2025/{comd}/{comd}_atr_1s_.parquet')